@media (min-width: 550px) {
    .header {
        margin-top: 3rem;
    }
}

.header h3 {
    border-bottom: 1px solid grey;
    margin-bottom: 0.5rem;
}

.header {
    margin-bottom: 5rem;
}

.header a {
    text-decoration: none;
}

section h6 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

section {
    margin-bottom: 2rem;
}

#error {
    color: red;
}

#extension-input {
    height: 25rem;
}

.ms-container [hidden] {
    display: none !important;
}

.extension-buttons {
    margin-top: 1rem;
    text-align: right;
}

#submit {
    text-align: right;
}

footer {
    border-top: 1px solid grey;
    font-size: 80%;
    text-transform: uppercase;
}

/* Modal */
.modal-dialog {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog > div {
    margin-top: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

#addListModal textarea {
    width: 100%;
    min-height: 230px;
}

/* Auto Index */

.aidx a:link, .aidx a:visited {
    text-decoration: none;
}

.aidx a:hover {
    text-decoration: underline;
}

.breadcrumb {
    padding: 0;
}

.breadcrumb a {
    margin: 0;
    font-size: 12px;
}

.breadcrumb img {
    vertical-align: middle;
}

.breadcrumb .sep {
    color: #bbb;
}

.breadcrumb h1 {
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
    margin: 0;
    border-top: 1px solid #ccc;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

th a:link, th a:visited {
    margin: 0 10px;
    color: #333;
}

th img {
    position: absolute;
    margin-left: -6px;
}

tbody {
    border: solid #ccc;
    border-width: 1px 0;
}

hr {
    margin: 0;
    border: none;
}

td {
    padding: 5px;
    font-size: 11px;
}

td a {
    margin-right: 40px;
    font-size: 14px;
}

td.modified {
    text-align: center;
}

td.size {
    text-align: right;
}

.icon, .name {
    border: none;
}

.icon {
    width: 16px;
    padding-right: 0;
}

.modified {
    width: 130px;
}

.size {
    width: 60px;
}
